# Environment files
.env
*.env

# Cache
__pycache__/
**/__pycache__/
diskcache/

# Python artifacts
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.venv/

# Build/packaging
build/
dist/
*.egg-info/

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# App runtime folders
/media/
 /tmp/
 /uploads/
 /error_excels/

# Ignore __init__ only if you REALLY want to
#__init__.py
# Temporary files
temp_files/
**/temp_files/

# Test folders (only if you really don't want them in repo)
Testcases/
**/Testcases/


# Pytest cache
.pytest_cache/
**/.pytest_cache/

# Exported files (excels, csvs, reports)
exports/
**/exports/
