fastapi==0.121.0
uvicorn==0.38.0
sqlalchemy==2.0.44
pydantic==2.12.4
alembic==1.17.1
python-dotenv==1.2.1
psycopg2-binary==2.9.11
jose==1.0.0
pandas==2.3.3
openpyxl==3.1.5
pytest==8.4.2
dotenv
bcrypt==5.0.0
passlib==1.7.4
pydantic[email]
python-jose[cryptography]==3.5.0
python-multipart==0.0.20
diskcache==5.6.3
xlsxwriter==3.0.10